@charset "UTF-8";
/* line 5, /var/www/mesbo/app/assets/stylesheets/customers.css.scss */
.notice {
  border: 1px solid #cc0000;
  color: #cc0000;
  font-size: 16px;
  padding: 10px;
  background-color: #FFC;
  font-family: "微软雅黑";
  font-weight: bold;
}

/* line 15, /var/www/mesbo/app/assets/stylesheets/customers.css.scss */
.link_btn {
  background: #999;
  padding: 6px 10px;
  margin: 6px;
  color: #cc0000;
}

/* line 22, /var/www/mesbo/app/assets/stylesheets/customers.css.scss */
.link_btn {
  background-image: url(/assets/current.jpg);
  background-repeat: repeat-x;
  padding: 6px 10px;
  margin: 4px;
  color: #fff;
}

/* line 30, /var/www/mesbo/app/assets/stylesheets/customers.css.scss */
.actions input {
  padding: 6px 10px;
}

/*the input like text field*/
/* line 34, /var/www/mesbo/app/assets/stylesheets/customers.css.scss */
input.text {
  width: 400px;
  height: 80px;
}

/* line 39, /var/www/mesbo/app/assets/stylesheets/customers.css.scss */
.error_tp {
  color: #cc0000;
  padding: 0 0 0 10px;
}
