/* line 7, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
.product_list {
  width: 180px;
}

/* line 10, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
.product_list h3 {
  background-color: #333;
  color: #fff;
  padding: 2px;
  margin: 10px 8px 10px 0;
}

/* line 16, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
.product_list ul {
  padding: 0px;
  margin: 0px;
  float: left;
  width: 100%;
}

/* line 22, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
.item_li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0px;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  display: block;
  overflow: hidden;
  border: solid 1px #333;
}

/* line 33, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
.product_title {
  display: block;
  color: #f52969;
}

/* line 38, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
#product_main_show h4 {
  padding: 4px;
  margin: 0;
  font-weight: 600;
}

/* line 43, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
#product_main_show .content {
  background-color: #fff;
  margin: -6px 0 -6px 0;
  padding: 20px;
}

/* line 48, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
#product_main_show h1 {
  padding: 5px;
  margin: 0;
}

/* line 52, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
#product_main_show .item {
  margin: 10px 0 10px 0;
}

/* line 55, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
#product_main_show .description {
  padding: 0;
  margin: 0;
}

/* line 59, /var/www/mesbo/app/assets/stylesheets/product_cates.css.scss */
.main_product_image {
  float: left;
  margin: 0;
  padding: 0px;
  background-color: #ccc;
  display: block;
  overflow: hidden;
  border: solid 1px #333;
}
