@charset "UTF-8";
/* line 2, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
* {
  margin: 0;
  padding: 0;
}

/* line 6, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
body {
  font: 14px "微软雅黑", "Microsoft YaHei";
  font-family: "微软雅黑", "Microsoft YaHei";
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
  background-color: #fff;
  line-height: 22px;
}

/* line 17, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
form {
  margin: 0;
  padding: 0;
}

/* line 21, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
input {
  margin: 0;
  padding: 2px !important;
  padding: 2px;
}

/* line 26, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
div, p, span {
  margin: 0;
  padding: 0;
}

/* line 30, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
ul, ol, dl {
  margin: 0;
  padding: 0;
}

/* line 34, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
li {
  list-style-type: none;
  line-height: 24px;
}

/* line 39, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

/* line 45, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
a img {
  border: none;
}

/* line 49, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
a:link {
  color: #333;
  text-decoration: none;
}

/* line 53, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
a:visited {
  color: #000;
  text-decoration: none;
}

/* line 57, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
a:hover, a:active, a:focus {
  color: #cc0000;
  text-decoration: underline;
}

/* line 61, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.write a {
  color: #ffffff;
}

/* line 62, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.write a:visited {
  color: #ffffff;
}

/* line 63, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.write a:hover, a:active, a:focus {
  color: #333;
}

/* line 65, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.right_border {
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #999;
}

/* line 70, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.left_border {
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #999;
}

/* line 75, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.red_border {
  background-color: #cc0000;
  margin: 0px;
  padding: 0px;
  height: 2px;
  width: 100%;
}

/* line 82, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.red {
  color: #f52969;
}

/* line 83, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.font18 {
  font-size: 18px;
}

/* line 84, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.border_left {
  border-left-width: 2px;
  border-left-style: dotted;
  border-left-color: #999;
}

/* line 89, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.border_black_1_img {
  padding: 0;
  margin: 0px;
  background-image: url("/assets/border_black_1.jpg");
  background-repeat: repeat-x;
  background-position: top top;
}

/* line 96, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.border_black_2_img {
  padding: 0;
  margin: 0px;
  background-image: url("/assets/border_black_2.jpg");
  background-repeat: repeat-x;
  background-position: top top;
}

/* line 103, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.border_black_1 {
  padding: 0;
  margin: 0px;
  border-bottom: solid 1px #333;
}

/* line 108, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.border_black_2 {
  padding: 0;
  margin: 0;
  border-bottom: solid 2px #333;
}

/* line 113, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.more_black_border {
  height: 25px;
  width: 100%;
  text-align: right;
  display: block;
  color: #666;
  font-size: 14px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #666;
}

/* line 124, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.more_red {
  margin: 0;
  padding: 0;
  color: #C00;
  width: 100%;
  text-align: right;
}

/* line 131, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.font_gray a {
  color: #ccc;
}

/* line 132, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.more_black {
  height: 25px;
  width: 100%;
  text-align: right;
  display: block;
  color: #666;
}

/* line 140, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.white_a {
  background-image: url("/assets/white_a.gif");
  padding: 2px;
  background-repeat: no-repeat;
}

/* line 146, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
h2 {
  font-size: 14px;
  margin: 4px;
}

/* line 151, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
h2 a {
  font-size: 14px;
  margin: 0px;
}

/* line 156, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
h3.title {
  margin: 10px 0 0 0;
  padding: 4px;
  background-color: #666;
  color: #ffffff;
}

/* line 162, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.bshare {
  float: right;
  margin: 0px;
  margin-top: -45px;
  padding: 0px;
}

/* line 169, /var/www/mesbo/app/assets/stylesheets/sites.css.scss.erb */
.black {
  border: 1px dotted #646464;
  padding: 0px;
  margin: 0px;
}
