.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/database.yml
public/resource
public/assets
public/index.html
public/news_items*
public/news_cates*
public/pages.html
public/pages/
public/note_cates.html
public/note_cates/
public/note_items/
