<style type="text/css">
<!--
*{
	margin: 0;
	padding: 0;
}
body {
	background-image: url(images/m1d.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	
}
.transparent {  
      filter:alpha(opacity=80);  
      -moz-opacity:0.8;  
      -khtml-opacity: 0.8;  
      opacity: 0.8; 
	  text-align: center;
	  valign: middle;
	  font-size: 16px;
} 
.Ucontainer {
	width: 980px;
	margin: 0 auto;
}
.Ucontainer .row1 {
	background-color: #960;
	float: left;
	height: 382px;
	width: 290px;
	margin: 2px;
	padding: 0px;
}
.Ucontainer .row2 {
	background-color: #930;
	float: left;
	height: 190px;
	width: 190px;
	margin: 2px;
	padding: 0px;
}
.Ucontainer .row3 {
	background-color: #030;
	float: left;
	height: 190px;
	width: 290px;
	margin: 2px;
	padding: 0px;
	
}
.Ucontainer .row4 {
	background-color: #260;
	float: left;
	width: 93px;
	height: 190px;
	margin: 2px;
	padding: 0px;
}
.Ucontainer .row5{
	background-color: #260;
	float: left;
	width: 290px;
	height: 290px;
	margin: 2px;
	padding: 0px;
}
.Ucontainer .row6{
	background-color: #260;
	float: left;
	width: 480px;
	height: 190px;
	margin: 2px;
	padding: 0px;
}
.Ucontainer .row7{
	background-color: #260;
	float: left;
	width: 380px;
	height: 290px;
	margin: 2px;
	padding: 0px;
}
.Ucontainer .row8{
	background-color: #260;
	float: left;
	width: 290px;
	height: 190px;
	margin: 2px;
	padding: 0px;

}
.Ucontainer .row9{
	background-color: #260;
	float: left;
	width: 290px;
	height: 290px;
	margin: 2px;
	padding: 0px;

}
-->
    </style>

     <div style="background:#000; height: 200px;"></div>
    <div class="Ucontainer">
    	<div class="row1 transparent">A290*380</div>
        <div class="row2 transparent">B190*190</div>
        <div class="row2 transparent">C190*190</div>
        <div class="row3 transparent">D290*190</div>
        <div class="row2 transparent">E190*190</div>
        <div class="row2 transparent">F190*190</div>
        <div class="row4 transparent">G93*190</div>
        <div class="row2 transparent">H190*190</div>
        <DIV style="float: left; width: 290px; height: 480px; margin: 0 4px 4px 0;">
          <div class="row5 transparent">I290*290</div>
          <div class="row3 transparent">L290*190</div>
        </DIV>
        <div class="row2 transparent">J190*190</div>
         <div class="row6 transparent">K480*190</div>
        <div class="row7 transparent">M380*290</div>
        <div class="row1 transparent" style="height: 290px;">N290*380</div>
        <div class="row2 transparent">O190*190</div>
        <div class="row2 transparent">P190*190</div>
        <div class="row5 transparent" style="width: 285px;">Q290*290</div>
        <div class="row8 transparent">R290*190</div>
        <div class="row7 transparent" style="margin-top: -98px; width: 384px;">S380*290</div>
        <div class="row2 transparent">T190*190</div>
        <div class="row4 transparent">G93*190</div>
        <div class="row9 transparent" style="margin-top: -98px;">V290*190</div>
    </div>
     <div style="background:#000; height: 200px; float: left; display: block; width: 100%;"></div>
  