<div class="slide_box">
  <div id="slide_290_1">
    <div id="aaa" style="background: #494949; float: left; width: 286px; height: 190px; font-size: 12px;">
       &nbsp;
    </div>
    <div id="bbb" style="background: url(/assets/home/d286x190.jpg) #494949; float: left; width: 286px; height: 190px; ">
      &nbsp;
    </div>
  </div>
</div>