<div class="slide_box">
  <div id="slide_290_2">
    <%=link_to image_tag(asset_path("home/r290x190.jpg")), "/" %>
    <%=link_to image_tag(asset_path("home/r290x190_2.jpg")), "/" %>
  </div>
</div>